<div class="wrapper" style="height: auto; min-height: 100%;">
  <aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
      <div class="user-panel">
      </div>

      <form class="sidebar-form">
        <div class="input-group">
          <input type="text" id="searchuser" name="searchuser" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-flat">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>

      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">Choice Options</li>

        <li class="treeview">
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <i class="fa fa-search"></i>
            <span>Search</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">1</span>
            </span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i>
            <span>Usuario</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="/user">
                <i class="fa fa-circle-o"></i> Back</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper" style="min-height: 960px;">
    <section class="content">
      <div class="row" >
        <div class="col-md-12">
          
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          
        </div>
      </div>

    </section>
  </div>
</div>

